mapRoles:
  - rolearn: arn:aws:iam::990751731740:role/eks-terraform-role
    username: github-deployer
    groups:
      - system:masters
image:
  repository: 990751731740.dkr.ecr.ap-southeast-2.amazonaws.com/cat-repository
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  enabled: true
httpRoute:
  enabled: false

ingress:
  enabled: false
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
