name: Deploy stacks  to EKS cluster

on:
  push:
    branches:
      - main   # Trigger on pushes to main branch
  workflow_dispatch: 
    inputs:
      Operations:
        description: 'Select the Terraform operation to perform'
        required: true
        default: 'frontend-apply'
        options:
          - frontend-apply
          - Backend-apply

jobs:
  deploy:
    name: Deploy Frontend to eks 
    if: ${{ (github.event.inputs.Operations == 'frontend-apply') }}
    runs-on: ubuntu-latest

    permissions:
      id-token: write   # Required for OIDC
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::990751731740:role/eks-terraform-role
          aws-region: ap-southeast-2

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region ap-southeast-2 --name eks-test-cluster

      - name: Verify cluster access 
        run: kubectl get nodes

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Deploy Helm chart
        run: |
          helm upgrade --install frontend-app ./kubernetes \
            --namespace default \
            --set image.repository=990751731740.dkr.ecr.ap-southeast-2.amazonaws.com/cat-repository \
            --set image.tag=latest
      - name: Verify Deployment - Pods
        run: kubectl get pods -n default 

      - name: Verify Deployment - Service 
        run: kubectl get svc frontend-app -n default

  deploy-backend:
    name: Deploy Backend to eks 
    if: ${{ (github.event.inputs.Operations == 'backend-apply') }}
    runs-on: ubuntu-latest

    permissions:
      id-token: write   # Required for OIDC
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::990751731740:role/eks-terraform-role
          aws-region: ap-southeast-2

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region ap-southeast-2 --name eks-test-cluster

      - name: Verify cluster access 
        run: kubectl get nodes

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Deploy Helm chart
        run: |
          helm upgrade --install backend-app ./kubernetes \
            --namespace default \
            --set image.repository=990751731740.dkr.ecr.ap-southeast-2.amazonaws.com/cat-backend-repository \
            --set image.tag=latest
      - name: Verify Deployment - Pods
        run: kubectl get pods -n default 

    